<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PronoteDataAnalytics</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main">
        <form action="/data" method="post">
            <h2 id="titre">PronoteDataAnalytics.</h2>
            <input type="text" id="username" name="username" placeholder="Nom d'utilisateur..." required minlength="4" maxlength="35">
            <input type="password" id="password" name="password" placeholder="Mot de passe..." required minlength="8" maxlength="50">
            <button id="envoi" type="submit">Connexion</button>
        </form>
    </div>
    <div id="about">
        <p><i class="bi bi-code-slash"></i> Application codée par @GatienFrenchDev et @Tysmey </p>
    </div>
</body>

</html>